doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title learn more about Ableton - maker of live and push | Ableton
        // FHF style file
        link(rel="stylesheet", href="css/FHF.css")
        // FHF script file
        script(src="js/FHF.js" defer)
        // main css file
        link(rel="stylesheet", href="css/main.css")
    body 
        main
            .container
                .logo
                    img(src="images/logo.svg", alt="")
                .hero
                    img(src="images/image-hero.png", alt="")
                .textAndBtn
                    h1 Group Chat for Everyone
                    p Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.
                    .btn
                        button.btn1 Download 
                            span v1.3
                        button.btn2 What is it
                .counter
                    span 01
        section.photosAndText
            .container
                .photos
                    img(src="images/01.jpg", alt="alt")
                    img(src="images/02.jpg", alt="alt")
                    img(src="images/03.jpg", alt="alt")
                    img(src="images/04.jpg", alt="alt")
                .text
                    span Built for modern use
                    h2.h1 Smarter meetings, all in one place
                    p Send messages, share files, show your screen, and record your meetings — all in one workspace. Control who can join with invite-only team access, data encryption, and data export. 
                .counter
                    span 02
            footer
                .overlay
                    h2.h1 Experience more together
                    p Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
                    .btn
                        button Download 
                            span v1.3
    
